<h2 class="search-result__subtitle">{{name}}</h3>
    <div class="search-box">
        <div class="search-box__wrapper">
            <ul class="list">
                <li class="search-box__item"><span class="search-box__text">Capital: </span>{{capital}}</li>
                <li class="search-box__item"><span class="search-box__text">Population: </span>{{population}}</li>
                <li class="search-box__item"><span class="search-box__text">Languages :</span>
                    <ul>
                        {{#each languages}}
                        <li>{{this.name}}</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="search-box__wrapper">
            <img src="{{flag}}" alt="Flag of {{name}}">
        </div>
    </div>